 
   a:hover {
    text-decoration: none;
   }

    .section {
      padding: 70px 0px 70px 0px;

    }

    .section h2.section-head {
      color: black;
      text-align: center;
      margin-bottom: 40px;
    }

    .section h2.section-head::after{
      background: #e17055;
      content: "";
      display: block;
      height: 3px;
      width: 100px;
      margin: 20px auto;
    }

 #header {
      color: #fff;
      background:#e17055;

 }

 #logo {
    font-size: 1.4rem;
    margin-top: 10px;
 }



 #menu {
    list-style: none;
    margin: 0;
    padding: 0;
    
 }

 #menu li {
    display: inline-block;
 }

 #menu li a {
    color: #fff;
    padding: 15px 10px;
    display: block ;
    
    text-decoration: none;
 }

 #menu li a:hover {
    background: #d63031;
 }

 #banner {
    background: url('../images/banner.jpg') no-repeat 0 0;
    background-size: cover;
 }

  .banner-title {
    padding:  5rem;

  }

 .banner-title h2{
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 10px;
    margin: 0;
 }

.banner-title p.lead {
    color: #fff;
    background: rgba(231, 76, 60, 0.7);
    padding: 10px;

}

 .section-head{
   text-align: center;
   
 }

.service-box {
   text-align: center;
}

.service-box i.bi {
   color: #e17055;
   font-size: 60px;
   margin-bottom: 15px;
}

#testeimonials {
   background: url('../images/tecno.jpg') no-repeat 0 0;
   background-size: cover;
   padding: 50px 0;
   position: relative;
   color: #fff;
}

#testeimonials::before{
   background: rgb(117, 134, 148, 0.1);
   content: "";
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;

}

#testeimonials img {
    border-radius: 50%;
    max-width: 100%;
}

  #testeimonials p{
   margin-top: 10px;
  }

.news-post img{
   max-width: 100%;
   margin-bottom: 5px;
   margin-top: 5px;
}

.news-post h3 {
   font-size: 1.35rem;
}

.news-post h3 a{
    color: #e17055;
}

.post-date{
   font-size: 13px;
   margin-bottom: 2px;
}


.post-date::before{
   content: "\f1e4";
   font-family: bootstrap-icons!important;
   padding-right: 5px;
}

a.readmore{
   font-size: 14px;
   color: #e17055;
}

  a.readmore::after{
   content: "\f7f4";
   font-family: bootstrap-icons!important;
   padding-right: 5px;
   margin-left: 5px;
  }

 #footer-sidebar{
   color: #fff;
   background: #405D72;
   padding: 20px 0;
 }

    .footer-widget h3::after{
      content: '';
      background: #fff;
      display: block;
      width: 50px;
      height: 2px;
      margin: 5px 0;
    }

    .footer-widget a{
      color: #fff;
      text-decoration: none;
    }

    .latest-news {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .latest-news li {
      margin-bottom: 3px;
      
    }

    .latest-news li::before{
      content: "\f7f4";
      font-family: bootstrap-icons!important;
      padding-right: 5px;
      margin-left: 5px;
    }

    #footer {
      background: #2c3e50;
      color: #fff;
      padding: 10px 0;
    }

    #social-icons {
      list-style: none;
      color: #fff;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: end;
    }

    #social-icons li{
      display: inline-block;
      padding-left: 10px;
    }

    #social-icons li a{
      color: #fff;
      font-size: 25px;
    }
    
             /* break-point for median screen */

    @media (max-width: 992px) {
      .news-post{
         margin-bottom: 30px;
      }  
    }


             /* break-point for mobile and tablet screen */
    @media (max-width: 768px) {
             
      #logo{
         text-align: center;
         margin: 10px 0;
      }

      #menu {
         text-align: center;
      }

      .banner-title h1{
         font-size: 1.7rem;
      }

      .section{
         padding-top: 40px;
         padding-bottom: 40px;
      }

      .banner-title{
         padding-top: 0;
      }

      #testeimonials {
            text-align: center;
            margin-bottom: 30px;
           }

      .service-box {
         margin-bottom: 30px;
      }

     

      .footer-widget{
            margin-bottom: 20px;
           }
     
      #footer{
         text-align: center;
      }

      #social-icons {
         margin-top: 10px;
      }
      
    }





   
   
 
